<div id="nav">
  <div class='nav-box-left'>
    <div class='logo'>
      <img src='assets/logo.png' id='logo'/>
    </div>
  </div>
  <div class='nav-box-left'>
    <div class='nav-item'>
      Recent
    </div>
  </div>
  <div class='nav-box-left'>
    <div class='nav-item'>
      Journals
    </div>
  </div>
  <div class='nav-box-left'>
    <div class='nav-item'>
      Writers
    </div>
  </div>

  <div class='nav-box-right'>
    <div class='nav-item'>
    Profile
    </div>
  </div>

  <div class='nav-box-right'>
    <div class='nav-item'>
      About
    </div>
  </div>

</div>
