<!DOCTYPE html>
<html>
<head>
  <title>Litbase</title>
  <link href="//fonts.googleapis.com/css?family=EB+Garamond:400" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "ember/application" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
